{{"featured-blogs.css" | asset_url | stylesheet_tag}}

<section>
  <h2> {{section.settings.section_header |  default:"Featured Blogs"}}</h2>
  <div class="featured-blogs-wrapper">
  {% for article in blogs.News.articles limit: section.settings.blog-display-limit %}
      <div class="featured-blog-section">
          <img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.title }}" class="featured-blog-image">
          <h2 class="featured-blog-title">
              {{ article.title }}
          </h2>
          <p class="featured-blog-description">
              {{ article.excerpt_or_content | truncatewords: 30  }}
          </p>        
          <a href="{{article.url}}" class="featured-blog-readmore">Read More</a>
      </div>
  {% endfor %}
  </div>
</section>

{% schema %}
{
    "name": "Featured Blogs",
    "settings": [
      {
        "type": "text",
        "id": "section-header",
        "label": "Header Text"
      },
      {
        "type": "number",
        "id": "blog-display-limit",
        "label": "number of blogs to display",
        "default":100
      },
    {
      "type": "text",
      "id": "blog-title",
      "label": "Blog Title"
    },
    {
      "type": "text",
      "id": "blog-description",
      "label": "Blog Description"
    }
],"presets": [
  {
    "name": "Featured Blogs"
  }
]
}
{% endschema %}