{{"main-product.css" | asset_url | stylesheet_tag}}



<div class="main-product-container">
    <div class="product-video">
        {{ product.metafields.custom.product_video | media_tag: width:500, height:360 }}
    </div>
    <div class="product-details">
        <h1 class="product-title">{{ product.title }}</h1>
        <div class="product-price">
            {{ product.price | money }}
        </div>
        <div class="product-description">
            {{ section.settings.product-desc-textarea }}
        </div>
        {% for line in product.metafields.custom.quality.value %}
            <ul>
                <li>{{ line }}</li>
            </ul>
        {% endfor %}

        <div>
            <button type="submit" class="add-to-cart-btn">Add to Cart</button>
        </div>
        
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
            document.querySelector(".add-to-cart-btn").addEventListener("click", () => {
                let formData = {
                    'items': [{
                        'id': {{ product.selected_or_first_available_variant.id }},
                'quantity': 1
                }]
            };

        fetch(window.Shopify.routes.root + 'cart/add.js', {
            method: 'POST',
        headers: {
            'Content-Type': 'application/json'
                },
        body: JSON.stringify(formData)
            })
            .then(response => {
                return response.json();
            })
            .catch((error) => {
            console.error('Error:', error);
            });
        });
    });
</script>


{% schema %}
    {
        "name": "Main product",
        "settings": [
            {
              "type": "textarea",
              "id": "product-desc-textarea",
              "label": "Product video",
              "default":"Enter your desc here"
            }
        ],
        "presets": [
          {
            "name": "Main Product"
          }
        ]
    }
{% endschema %}
