{{"main-product.css" | asset_url | stylesheet_tag}}



<div class="main-product-container">
    <div class="product-video">
        {{ product.metafields.custom.product_video | media_tag: width:500, height:360 }}
    </div>
    <div class="product-details">
        <h1 class="product-title">{{ product.title }}</h1>
        <div class="product-price">
            {{ product.price | money }}
        </div>
        <div class="product-description">
            {{ section.settings.product-desc-textarea }}
        </div>
        {% for line in product.metafields.custom.quality.value %}
            <ul>
                <li>{{ line }}</li>
            </ul>
        {% endfor %}        

    </div>
        {% assign product_form_id = 'product-form-' | append: section.id %}
        {% form 'product',
            product,
            id: product_form_id,
            class: 'form',
            novalidate: 'novalidate',
            data-type: 'add-to-cart-form' %}

            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" class="product-variant-id">
        
            {{ form | payment_button | class: 'add-to-cart-btn' }}
        {% endform %}
    </div>

{% schema %}
    {
        "name": "Main product",
        "settings": [
            {
              "type": "textarea",
              "id": "product-desc-textarea",
              "label": "Product video",
              "default":"Enter your desc here"
            }
        ],
        "presets": [
          {
            "name": "Main Product"
          }
        ]
    }
{% endschema %}
